In [2]:
import requests, json, pandas as pd

url = "https://ultimate-tennis1.p.rapidapi.com/live_leaderboard/50"

headers = {
	"X-RapidAPI-Key": "0b00932e03msh9c0e6292431999cp102f2cjsnfaa91f7ec449",
	"X-RapidAPI-Host": "ultimate-tennis1.p.rapidapi.com"
}

response = requests.get(url, headers=headers)
todos = json.loads(response.text)

pd.DataFrame(todos["data"]).head()

,Age,Championship Points,Last Match Comment,Live Points,Name,Next win points,Points,Points Difference,Rank,Rank Diff,id
0,36,-,,"11,245",Novak Djokovic,-,"11,245",-,1,-,d643
1,20,-,,"8,855",Carlos Alcaraz,-,"8,855",-,2,-,a0e2
2,27,-,,"7,600",Daniil Medvedev,-,"7,600",-,3,-,mm58
3,22,-,,"6,490",Jannik Sinner,-,"6,490",-,4,-,s0ag
4,26,-,,"4,805",Andrey Rublev,-,"4,805",-,5,-,re44

In [56]:
import requests, json, pandas as pd

url = "https://ultimate-tennis1.p.rapidapi.com/rankings/atp/singles/50/current"

headers = {
	"X-RapidAPI-Key": "0b00932e03msh9c0e6292431999cp102f2cjsnfaa91f7ec449",
	"X-RapidAPI-Host": "ultimate-tennis1.p.rapidapi.com"
}

response = requests.get(url, headers=headers)

todos = json.loads(response.text)

pd.DataFrame(todos["data"]).head()

    Age             Name  Points  Rank Rank Diff    id
0  36.0   Novak Djokovic   11245     1         0  d643
1  20.0   Carlos Alcaraz    8855     2         0  a0e2
2  27.0  Daniil Medvedev    7600     3         0  mm58
3  22.0    Jannik Sinner    6490     4         0  s0ag
4  26.0    Andrey Rublev    4805     5         0  re44

In [13]:
url = "https://ultimate-tennis1.p.rapidapi.com/player_stats/atp/d643/2023/all"

headers = {
	"X-RapidAPI-Key": "0b00932e03msh9c0e6292431999cp102f2cjsnfaa91f7ec449",
	"X-RapidAPI-Host": "ultimate-tennis1.p.rapidapi.com"
}

response = requests.get(url, headers=headers)

stats = json.loads(response.text)

data1 = pd.DataFrame(stats["player_data"]).head()

name = pd.DataFrame(["Djokovic"])
conc = pd.concat([name, data1], axis=1)
pd.concat([conc, conc]).info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, 0 to 0
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   0                            2 non-null      object
 1   1st Serve                    2 non-null      object
 2   1st Serve Points Won         2 non-null      object
 3   1st Serve Return Points Won  2 non-null      object
 4   2nd Serve Points Won         2 non-null      object
 5   2nd Serve Return Points Won  2 non-null      object
 6   Aces                         2 non-null      object
 7   Break Points Converted       2 non-null      object
 8   Break Points Faced           2 non-null      object
 9   Break Points Opportunities   2 non-null      object
 10  Break Points Saved           2 non-null      object
 11  Double Faults                2 non-null      object
 12  Return Games Played          2 non-null      object
 13  Return Games Won             2 non-null      object
 14  Return Points Won            2 non-null      object
 15  Service Games Played         2 non-null      object
 16  Service Games Won            2 non-null      object
 17  Total Points Won             2 non-null      object
 18  Total Service Points Won     2 non-null      object
dtypes: object(19)
memory usage: 320.0+ bytes

In [60]:
url = "https://ultimate-tennis1.p.rapidapi.com/player_info/m0ej"
#fuzzywuzzy
headers = {
	"X-RapidAPI-Key": "0b00932e03msh9c0e6292431999cp102f2cjsnfaa91f7ec449",
	"X-RapidAPI-Host": "ultimate-tennis1.p.rapidapi.com"
}

response = requests.get(url, headers=headers)

player_info = json.loads(response.text)

pd.DataFrame(player_info["player_data"]).head()

,Age,Birthday,Birthplace,Career high,Coach,Date career high,Flag Code,Image,Name,Play Style,...,Titles Career,W-L 2023,W-L Career,Year Turned Pro,height(cm),height(ft),instagram,twitter,weight(kgs),weight(lbs)
0,21,2002.03.03,"Carrara, Italy",15,Simone Tartarini,2023.06.26,ITA,https://www.atptour.com/-/media/tennis/players...,Lorenzo Musetti,"Right-Handed, One-Handed Backhand",...,2,32-29,92-83,2019,185 cm,"6""1""",https://www.instagram.com/lore_musetti/,https://twitter.com/Lorenzo1Musetti,78 kg,172